
 <link rel="stylesheet" type="text/css" href="/css/main.css">
 <script src="../js/themes/averageTheme.js"></script>


  <div class="bottom-nav">
        <div class='bottom-nav-div'>
            <img class='logo'src="../img/dayStockerLogo.png" alt="Logo">
             <div class='logoLetters'>{{stock.dayStocker}}</div>
            <ul>
                    <li><a href="#/home"><i class="fa fa-home"  aria-hidden="true"></i>{{stock.homeBNB}}</a></li>
                    <li><a href="#/stock"><i class="fa fa-area-chart"  aria-hidden="true"></i>{{stock.stockBNB}}</a></li>
                    <li><a href="#/average"><i class="fa fa-bar-chart-o"  aria-hidden="true"></i>{{stock.averageBNB}}</a></li>
                <!--<li><i class="fa fa-sign-out"  aria-hidden="true"></i><a href="#">{{average.otherBNB}}}</a></li>-->
            </ul>
               <div class='logout'><a  href="/logout"><i class="fa fa-sign-out" id='loId'></i>{{stock.logoutBNB}}</a></div>
        </div>
    </div>


<!--

       <h1>{{stock.info.Name}}</h1>
        <h2>{{stock.info.Symbol}}</h2>
        <h2>{{stock.chart}}</h2>-->

        <!--<div id="container"></div>-->
         <div id="stockChart"></div>

    <div class='buttonOuterDiv'>
            <div class='buttonInnerDiv'>
                <button ng-click='stock.oneDay()'>1D</button>
                <button ng-click='stock.oneWeek()'>1W</button>
                <button ng-click='stock.oneMonth()'>1M</button>
                <!--<button ng-click='stock.sixMonths()'>6M</button>-->
                <button ng-click='stock.oneYear()'>1YR</button>
                <button ng-click='stock.fiveYears()'>5YR</button>
                <button id="tenYear" ng-click='stock.tenYears()'>10YR</button>
                <button id="MAX" ng-click='stock.max()'>MAX</button>
            </div>
        </div>
    

    
